body,
html,
.wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body,
html,
.wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar,
.wrapper::-webkit-scrollbar {
    display: none;
}

.wrapper {
    position: relative;
    overflow: auto;
}

.b-info-bar {
    position: fixed;
    top: 0;
    left: 0;
}

.b-info-bar-settings,
.b-info-bar-info {
    display: inline-block;
}

.infoline,
.label,
.text,
.submit,
.error-message {
    display: block;
}

.text {
    margin-top: 5px;
    margin-bottom: 5px;
}

.b-info-bar-settings-panel {
    display: inline-block;
    margin-right: 15px;
}

.error-message {
    color: red;
}

.b-info-bar-info-placeholder--length {
    font-weight: 700;
}
